#login{
    margin-top: 100px;
     background-color:rgba(255, 255, 255, 0.766);
    width: 450px;
    height: 400px;
    border: 1px ridge rgba(87, 85, 85, 0.356);
    box-shadow: 0px 0px 15px;
    border-radius: 20px;
    transition: all;
    transition-duration: 1s;
    margin-left: 160px;
    
    
}

.in{
    border-color: black; 
    border: 0;
    border-bottom: 2px ridge;
}
.in, .btn{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
}
a{
    
    text-decoration: none;
}
#login:hover{

    background-color: rgba(255, 255, 255, 0.89);
}
