.container{
    background-color: rgba(255, 255, 255, 0.722);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(7, 57, 149);
}

a{
    text-decoration: none;
    color: white;
    background-color: rgb(212, 58, 58);
    border-radius: 5px;
    margin-left:45%;
    width: 25%;
}