<div class="row">
        <div class="col"></div>
        <div  class="col">
            <div id="login" class="text-center"><br>
             <h1 style=" color: rgb(66, 61, 61); font-family:'Times New Roman', Times, serif">My Bank</h1><br>
            <input  [(ngModel)]="uname" class="in" type="text" id="uname" name="uname" placeholder="Username"><br>
            <input  [(ngModel)]="acno" class="in" type="text" id="accno" name="accno" placeholder="Account Number"><br>
            <input  [(ngModel)]="pswd" class="in" type="password" id="pass" name="pass"  placeholder="Password"><br><br>
            <button type="submit" class="btn btn-primary" value="Register" (click)="register()">Register</button><br>
            <br><br><a href="">Forgot Password...?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="">Login...?</a>
            </div>
            
        </div>
        <div class="col"></div>
    </div>